<nav class="sidebar">
    <div class="nav-links">
      <a href="/" class="nav-link" aria-current="page">
        <i class="fas fa-users"></i>
        Empleados
      </a>
      <a href="/" class="nav-link">
        <i class="fas fa-briefcase"></i>
        Puestos
      </a>
      <a href="/" class="nav-link">
        <i class="fas fa-clock"></i>
        Asistencia
      </a>
      <a href="/" class="nav-link">
        <i class="fas fa-file-alt"></i>
        Documentos
      </a>
      <a href="" class="nav-link">
        <i class="fas fa-money-bill-wave"></i>
        Nómina
      </a>
      <a href="" class="nav-link">
        <i class="fas fa-cog"></i>
        Configuración
      </a>
    </div>
  </nav>